body {
   background-color: #CCECEA;
}
.about_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 650px;
  padding: 10px;
  background-image: url('../images/blackboard3.png');
  background-size: 100% 100%;
  text-align: center;
  
}

.about_content h1 {
  color:red;
  font-family: "Courier", monospace;
  font-size:6vw;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.about_content p {
  color: white;
  font-family: "Courier", monospace;
  font-size:18px;
  text-align: left;
}
.about_content b {
  color: red;
  font-family: "Courier", monospace;
  font-size:22px;
  text-align: left;
}

#about_me {
  font-family: "Courier", monospace;
  margin: auto auto;
  padding-bottom:20px;
  width:70vmin;
  height: 350px;
  overflow: scroll;
}

#email {
    text-align: center;
}

.colorlink {
    background-color:black;
    border-color:red;
    border-radius: 3em;
    border-style: solid;
    font-family: "Courier", monospace;
    text-decoration: none;
    color: red;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
